<html>
    <head>
        <title>Blog App</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" 
            integrity="sha512-dEiw9Y+mvqQrQC3EwAKP4Bc9LGyola/4tCIRCq7c7VytHO9HUVW7+CmXCirQvLhx4EwqSbUulm6FlG1wHO/SSg==" 
            crossorigin="anonymous" />
            
        <link rel="stylesheet" href="/stylesheets/app.css" /> 
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js" 
            integrity="sha512-Jg9v3eRXdG5YXcl8lF24feNzbt6xSVHBPDUtSB/7vINH0yyfG7GXCPZGylMFA/eDPnY3Kh3vpfd8pZFwVHqSWA==" 
            crossorigin="anonymous"></script>
            
    </head>
    <body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New</a>
        </div>
    </div>